.header {
    padding: 30px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // .header__container
    &__container {
        min-height: 66px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .header__logo
    &__logo {
    }
    // .header__menu
    &__menu {
        display: flex;
        align-items: center;
    }
    // .header__nav
    &__nav {
    }
    // .header__list
    &__list {
        display: flex;
        align-items: center;
        column-gap: 40px;
    }
    // .header__item
    &__item {
    }
    // .header__link
    &__link {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 0.87; /* 14/16 */
        letter-spacing: 0.05em;

        transition: color .2s ease-in;

        color: $color-main;

        &:hover {
            color: rgba(255, 255, 255, 0.349);
        }
    }
}
