// font-family: 'Playfair Display', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

// FONTS 
$font-main: 'Raleway', sans-serif;
$font-second: 'Playfair Display', serif;
$font-third: 'Roboto', sans-serif;

// COLORS 
$color-main: #FFFFFF;
$color-accent: #D4C17F;
$color-dark: #242B33;
$color-placeholder: #BEBEBE;
$color-footer: #2D343C;